{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
<section>
<h1>Modifier votre mot de passe</h1>
    <article>
    <h2>Formulaire de modification de mot de passe</h2>
        {{ form_start(form) }}
            <section class="text-danger">{{ form_errors(form) }}</section>
            <section class="form-group">
                <div class="text-danger">{{ form_errors(form.password.first) }}</div>
                {{ form_label(form.password.first) }}
                <div>{{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}</div>
                <small class="form-text text-muted">{{ form_help(form.password.first) }}</small>
            </section>
            <section class="form-group">
                {{ form_label(form.password.second) }}
                <div>{{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}</div>
                <small class="form-text text-muted">{{ form_help(form.password.second ) }}</small>
            </section>
            <button class="btn btn-outline-primary" type="submit">Modifiez</button>
        {{ form_end(form) }}
    </article>
</section>
{% endblock %}