{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% include 'flash.html.twig' %}
<main class="container">
    <h1 class="text-center mb-5 mt-5">Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('booking_index') }}">Retour</a>

    {% if (app.user == booking.user) or (is_granted("ROLE_ADMIN")) %}
        <a class="btn btn-primary" href="{{ path('booking_edit_event', {id: booking.id}) }}">Modifier</a>
        {{ include('booking/_delete_form.html.twig') }}
    {% endif %}
</main>
    
{% include 'footer.html.twig' %}
{% endblock %}
