{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
 {% include 'flash.html.twig' %}
    <main>
       
        <article class="mx-5">
            <h3 class="mb-5 text-center margin-user text-shadow-drop-right">Réinitialiser votre mot de passe ici !</h3>
            {{ form_start(form) }}
                <section class="text-danger">{{ form_errors(form) }}</section>
                <section class="form-group">
                    <div class="text-danger">{{ form_errors(form.password.first) }}</div>
                    {{ form_label(form.password.first) }}
                    <div>{{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}</div>
                    <small class="form-text text-muted">{{ form_help(form.password.first) }}</small>
                </section>
                <section class="form-group">
                    {{ form_label(form.password.second) }}
                    <div>{{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}</div>
                    <small class="form-text text-muted">{{ form_help(form.password.second ) }}</small>
                </section>
                <button class="btn btn-outline-primary" type="submit">Modifiez</button>
            {{ form_end(form) }}
        </article>
    </main>
{% endblock %}